section{
    background-color: #88c1d0;
    margin: 1em;
}


@media only screen and (min-width: 1600px) and (orientation: landscape){
    
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}
    
@media only screen and (max-width: 767px) and (orientation: portrait){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1599px) and (orientation: portrait){
    
    .container {
        display: flex;
        flex-direction: column
        justify-content: space-between;
        column-gap: 100px;
        flex-wrap: wrap;
    }
    }